.banner {
    background: url("https://a0.muscache.com/im/pictures/ddc7f01f-3fb3-483c-87e6-701dad52c930.jpg") no-repeat center fixed;
    height: 75vh;
    position: relative;
    background-size: cover;
}

.banner__info {
    background-color: rgba(0, 0, 0, .75);
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__info > button {
    background-color: #6886c5 !important;
    color: white !important;
    margin-top: 8px;
    text-transform: inherit;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white !important;
    color: #6886c5 !important;
}