.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    width: 100%;
    padding: 10px;
}

.header__logo {
    object-fit: contain;
    height: 60px;
    margin-left: 20px;
}

.header__center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 799px;
}

.location__icon {
    color: gray;
}

.header__center > input {
    border: none;
    padding: 10px;
    width: 300px;
    outline-width: 0;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    margin-right: 20px;
}

.header__right > button {
    background-color: white !important;
    color: gray !important;
    margin-right: 3px !important;
    text-transform: inherit;
    font-weight: 600;
    border-radius: 799px !important;

}

.header__right > button:hover {
    background-color: #6886c5 !important;
    color: white !important;

}